@import 'custom';

.navbar-nav{
    .nav-link{
        font-size: 16px;
        font-weight: 500;
        color: $font-color;
        transition: all 0.3s;
        &:hover{
            color: $secondary-color;
            transition: all 0.3s;
        }
    }
}

.main-btn{
    background-color: $primary-color;
    color: $acent-color;
    border-radius: 12px;
    height: 48px;
    min-width: 135px;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s;
    border: 1px solid $primary-color;
    &:hover{
        background-color: $acent-color;
        color: $font-color;
        transition: all 0.3s;
    }
}


@import 'enStyle';

@import 'responsive';